<!DOCTYPE html>
<html>
<head>
	<title>image Slideshow: Kevin Smith</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    
     <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500" rel="stylesheet" type="text/css">
  
  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

	
</head>
<body>

	<!-- Component -->
    
  <section id="slideshow">
  
  <figure class="slideimg"><img src="images/slide_1.jpg" alt="Lion"/>
      	<figcaption>"I am the lion of judah"</figcaption>
      </figure>
        <figure class="slideimg"><img src="images/slide_2.jpg" alt="dog"/>
        	<figcaption>"i am lost help me get home"</figcaption>
        </figure>
        <figure class="slideimg"><img src="images/slide_3.jpg" alt="cowboy and horse"/>
        	<figcaption>"this is the wild wild west style"</figcaption>
        </figure>
        <figure class="slideimg"><img src="images/slide_4.jpg"  alt="frog"/>
        	<figcaption>"wow i am so colorful"</figcaption>
        </figure>
        <figure class="slideimg"><img src="images/slide_5.jpg"  alt="penguin"/>
        	<figcaption>"Warming each other up"</figcaption>
        </figure>
        
      <figure class="slideimg"><img src="images/slide_6.jpg"  alt="polar bear"/>
        	<figcaption>"searching for my daily meal"</figcaption>
        </figure>
        <div class="prev-next">
        <a href="#" class="prev"><i class="fa fa-chevron-left fa-4x"></i> </a>
        
       <a href="#" class="next"><i class="fa fa-chevron-right fa-4x"></i></a>
        </div>
  
  
  </section>

	<!-- End Component -->
    
    
    
    <!--- End Documednt
    -------------------------->
    
 <script src="js/custom_animations.js"></script>
<script src="js/custom_easing.js"></script>
<script src="js/jSlider.js"></script>
<script src="js/main.js" type="text/javascript"></script>
	
</body>
</html>