<!DOCTYPE html>
<html>
<head>
	<title>Dro-Down Menu: Kevin Smith</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    
    <header>
   <h1 class="logo">CB foods</h1>
    <nav>
      <ul>
        <li><a href="#">About </a>
        	<ul >
            <li><a href="#">Team</a></li>
           <li><a href="#">History</a></li>
          
            </ul>
        </li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Our food</a>
        	<ul>
            <li><a href="#">Chicken</a></li>
           <li><a href="#">Pork</a></li>
           <li><a href="#">Eggs</a></li>
            </ul>
        </li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav> 
     
    
    </header>
    
    

	<!-- End Component -->
	
</body>
</html>