<!DOCTYPE html>
<html>
<head>
	<title>CTA: Kevin Smith</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
   <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500" rel="stylesheet" type="text/css">
  
</head>
<body>

	<!-- Component -->
    
    
    <section id="cta">
    
    <div class="contentleft">
    <img class="logo" src="images/logo_01.png" alt="lifespan logo" />
    	<h1>Naturally Alkaline with ph 7.9</h1>
      <h2>Contains all natural Minerals</h2>
      <p>Preserve and protected by geography and geology of the northern slopes of the Blue Mountain </p>
      <div class="button"><a href="#">Order Now!</a></div>
      </div>
       
      <img class="bottles" src="images/group-with-ice1.png" alt="Spring water bottles"/>
    
    
    
</section>

	<!-- End Component -->
	
</body>
</html>