/* Component Stylesheet 
============================================================
============================================================*/


body {
	font-size:1em;
	max-width:100%;
	width:960px;
	background: #fff;
	font: 1.4em sans-serif;
	margin: 0 auto;
}

/*Clearfix===============*/

header::after{
	content: "";
  display: table;
  clear: both;
	
}

/*Header====================*/


header{
	width:100%;
	position:fixed;
	background:rgba(255,213,0, 1);
	Max-width: 960px;
	margin:0 auto;
	padding:1em 1.5em;
	display:block;
	top:0;
		

	
	}

.logo{
	width:200px;
	float:left;
	font-size:1em;
	font-weight:900;
	border-bottom:#000 solid 2px;
	text-transform:uppercase;
	padding:0.1em 1em;
	text-align:center;
	
}




/* Nav========================*/

nav{
	float:right;
	
}



nav li {
	display:inline;
	float: left;
	list-style:none;
	
	
	
}

nav li a {
	display: block;
	margin: 1em auto;
	padding: 0.25em 1.5em;
	font-weight: 600;
	font-size:16px;
	color: #000000;
	text-transform:uppercase;
	-webkit-transition:background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-transition:background 0.5s ease;
	transition:background 0.5s ease;
	
	
}

nav a:hover{
	color: #ffcc00;
	background:#000;
	
	
}




/*Section ==================*/


section{
	
	margin:1em auto;
	padding:1em;
	font-size:0.7em;
	
}

section > P {
	margin-top:6em;
	
}




/* Media Queries ==============================*/

@media (min-width:487px) and (max-width:841px) {
		nav{
		float:none;
		display:inline;
		margin:0 auto;
		
		
		
	}
	
	.logo{
		float:none;
		margin:0 auto;
		
	}
	
	
	
	
	
	
}

@media (max-width: 479px) {
	
	.logo{
		float:none;
		margin:0 auto;
		
	}
	
	
	nav{
		float:none;
		margin:0 auto;
		
	}
	

	
	nav li a{
		padding: 0.3em;
		
	}
	
}


